.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 9.8vw;
  gap: 30px;
  padding: 0px 50px;
}

.icon-span-proyect {
  display: flex;
  align-items: center;
  gap: 12px;
}
.proyect {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.proyect-span {
  color: #8d99ae;
  font-size: 16px;
  font-weight: 500;
}

.edit {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon-span-edit {
  display: flex;
  align-items: center;
  gap: 12px;
}
.edit-span {
  color: #8d99ae;
  font-size: 16px;
  font-weight: 500;
}
.reports {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon-span-reports {
  display: flex;
  align-items: center;
  gap: 12px;
}
.reports-span {
  color: #8d99ae;
  font-size: 16px;
  font-weight: 500;
}
.tools {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon-span-tools {
  display: flex;
  align-items: center;
  gap: 12px;
}
.tools-span {
  color: #8d99ae;
  font-size: 16px;
  font-weight: 500;
}
.help {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon-span-help {
  display: flex;
  align-items: center;
  gap: 12px;
}
.help-span {
  color: #8d99ae;
  font-size: 16px;
  font-weight: 500;
}
.settings {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.icon-span-settings {
  display: flex;
  align-items: center;
  gap: 12px;
}
.settings-span {
  color: #8d99ae;
  font-size: 16px;
  font-weight: 500;
}
.icon-span-log-out {
  display: flex;
  align-items: center;
  padding: 80px;
  gap: 12px;
}
.log-out-span {
  color: #ef233c;
  font-size: 16px;
  font-weight: 500;
}
